html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  overflow:hidden;
}

header .dx-toolbar{
    background:white;
    padding:2px;
}

header .dx-button{
    border:0px;
}
header .dx-toolbar-label{
    color:brown !important;
    font-size:16px;
    position:fixed;
    right:35px;
    background:transparent;
}
#content{
    background:#e7e9ed !important;/*#f5f5f5*/
    padding:10px;
    /*border:1px solid lightgray;*/
}
.dx-treelist-container{
    padding: 5px;
}
#sidebar-list{
     color:#7d7d7d;
     background:#e7e9ed;
    /*background:white !important;*/
    /*padding:2px;
    border-right:1px solid lightgray;*/
}
#sidebar-list .dx-item.dx-list-item{    
     color:#7d7d7d;
}
#sidebar-list .dx-item.dx-list-item span{
   margin-left:10px;
}
#sidebar-list .dx-item.dx-list-item span a{
    color:#7d7d7d;
    text-decoration:inherit
}
.dashboard-element{
    color:#7d7d7d
}
.dashboard-element .card{
   /* background:#fff;
    padding:10px;*/
}
.dashboard-element .card{
    /*text-align:center;*/
    /*border:0px;*/
}
.dashboard-element .card .card-header{
    /*background:transparent;
    border:0px;*/
}
.dashboard-element .card .card-body{
    font-weight:700;
}
.dashboard-element .row{
    margin-top:4px;
}