html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  /*overflow:hidden;*/
}

header .dx-toolbar{
    background:white;
    padding:2px;
}

header .dx-button{
    border:0px;
}
header .dx-toolbar-label{
    color:brown !important;
    font-size:16px;
    position:fixed;
    right:35px;
    background:transparent;
}
#content{
    background:#e7e9ed !important;
    padding:10px;
}
.dx-treelist-container{
    padding: 5px;
}
#sidebar-list{
     color:#7d7d7d;
     background:#e7e9ed;
}
#sidebar-list .dx-item.dx-list-item{    
     color:#7d7d7d;
}
#sidebar-list .dx-item.dx-list-item span{
   margin-left:10px;
}
#sidebar-list .dx-item.dx-list-item span a{
    color:#7d7d7d;
    text-decoration:inherit
}
.dashboard-element{
    color:#7d7d7d
}
.dashboard-element .card{
}
.dashboard-element .card{
}
.dashboard-element .card .card-header{
}
.dashboard-element .card .card-body{
    font-weight:700;
}
.dashboard-element .row{
    margin-top:4px;
}
.dashboard-element .dx-draggable{
    background:white;
}
.data-row-img{
    width:30px;
}
.online{
    /*padding:10px;*/
    background:green;
}
.offline{

}
@media only screen and (max-width: 600px) {
    .login {
        background: white;
        border: 1px solid #e5e5e5;
        margin-top:-40px;
        padding:10px;
    }
}
@media only screen and ( min-width: 601px) {
    .login {
        background: white;
        border: 1px solid #e5e5e5;
        padding: 10px;
    }
}
.login .login-btn{
    margin-top:10px;
}
.login .login-logo{
    margin:10px;
}
.login .login-logo img {
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 50%;
}
.login .dx-textbox{
    margin:4px;
}